body{
  margin:0
}

.navigator{
	overflow: hidden;
	background-color: #0077C1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  
}
.navigator a {
	float: right;
	color: white;
	text-align: center;
	padding: 20px 17px;
	font-size: 18px;
  text-decoration:none;
}
.navigator #logo {
  float:left;
  margin-left:3%;
  background-color: #0077C1; 
  font-size:15px;
  width: 200px;
  font-size:18px;
}
.navigator a:hover {
	background-color: #42A5F4;
  height:100%;
  font-size:18.5px;
   
  
	
}
.navigator a.active {
	background-color: #42A5F4;
  height:100%;
  font-size:19px;
}