body{
  margin:0
}

.navigator{
	overflow: hidden;
	background-color: #0077C1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.navigator a {
	float: right;
	color: white;
	text-align: center;
	padding: 20px 15px;
	font-size: 15px;
  text-decoration:none;
}
.navigator #logo {
  float:left;
  background-color: #0077C1; 
  font-size:15px;
  width: 200px;
}
.navigator a:hover {
	background-color: #42A5F4;
	
}
.navigator a.active {
	background-color: #42A5F4;
}